@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 100% 96%;
    --foreground: 0 0% 100%;
    --card: 249 100% 96%;
    --card-foreground: 0 0% 100%;
    --popover: 249 100% 96%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 249 100% 96%;
    --secondary: 243 100% 7%;
    --secondary-foreground: 243 100% 93%;
    --muted: 243 100% 7%;
    --muted-foreground: 243 100% 93%;
    --accent: 243 100% 7%;
    --accent-foreground: 243 100% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 249 100% 96%;
    --border: 243 100% 7%;
    --input: 243 100% 7%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 249 100% 4%;
    --foreground: 0 0% 100%;
    --card: 249 100% 4%;
    --card-foreground: 0 0% 100%;
    --popover: 249 100% 4%;
    --popover-foreground: 0 0% 100%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 100% 93%;
    --secondary-foreground: 0 0% 100%;
    --muted: 243 100% 93%;
    --muted-foreground: 0 0% 100%;
    --accent: 243 100% 93%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 243 100% 93%;
    --input: 243 100% 93%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}